<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
    <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="signupStyle.css" />
    <title>Document</title>

</head>

<body>
    <div class="wrapper">
        <div class="title">Đăng Ký Ngay</div>
        <form action="#">
            <div class="field">
                <input type="text" required>
                <label>Email Address</label>
            </div>
            <div class="field">
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="field">
                <input type="password" required>
                <label>Comfirm Password</label>
            </div>
            <div class="content">
                <div class="checkbox">
                    <input type="checkbox" id="remember-me">
                    <label style="margin-top: 10px;" for="remember-me">Đồng ý với điều khoảng</label>
                </div>
                
            </div>
            <div class="field">
                <input type="submit" value="Tạo tài khoảng">
            </div>
            <div class="signup-link">Đã có tài khoảng <a href="login.html">Đăng nhập ngay</a></div>
            <div class="signup-link"><a href="index.html">Trở về cửa hàng</a></div>
        </form>
    </div>

</body>

</html>